.contact-frame {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-43xl) 242px;
    box-sizing: border-box;
    flex-shrink: 0;
    text-align: center;
    font-size: var(--semi-bold-18-size);
    color: var(--primary-2nd-primary);
    font-family: var(--body-15-body-3-semibold);
    background: var(--color-whitesmoke-100);
}

.contact-form-location .form-lable {
    color: rgb(66, 65, 65);
    font-weight: 600;
    font-size: 18px;
}

.form-control:focus {
    box-shadow: none;
}
textarea{
    min-height: 130px;
}

.btn-color {
    background-color: blue;
    color: white;
    padding: 10px 0px;
    font-size: var(--body-15-body-3-semibold-size);
    letter-spacing: -0.36px;
    line-height: 20px;
    font-weight: 600;
    font-family: var(--body-15-body-3-semibold);
    color: var(--white);
    box-shadow: var(--shadow-dark-500-20);
}
.btn-color:hover{
    color: white;
    opacity: 0.7;
}

@media screen and (max-width:800px){
    .contact-frame{
        padding: 30px 20px;
    }
}

